<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>Movie</th>
			<th>Amount</th>
		</tr>
	</thead>
	<tbody>
		<% if @sales.any? %>
			<% @sales.each do |sale| %>
				<tr>
					<td><%= sale.id %></td>
					<td><%= link_to sale.movie.title, sale.movie %></td>
					<td><%= sale.amount %></td>
				</tr>
			<% end %>
		<% else %>
			<tr>
				<td class="text-center" colspan="5">No movies bought</td>
			</tr>
		<% end %>
	</tbody>
</table>